# Modeling belongs to

### Introduction

In this lesson, we'll practice doing some data modeling.  Engineers will sometimes refer to data modeling as representing the *schema*.  The schema is the overall structure of tables in a database.

### Reviewing data modeling

Remember that the main rule when data modeling is that the relationship that has a belongs to will have the foreign key. 

For example, let's take our artists and songs example.  Assume that a song has one artist, and an artist has many songs.  Our tables would look like the following:

<img src="./artists-songs.png" width="100%">

Notice that by placing the foreign key of `artist_id` on the songs table, we are limiting a song to have just one artist.  If you look at a song, we know who the artist is -- it's represented by the artist id.  

If we look at an artist by contrast, there is no foreign key in the artists table.  So, by contrast, we can find an artist like paul simon's songs by finding all records with a matching `artist_id` of 1.  So to review, placing the artist_id on the songs table means that a song has just one artist.  And because there is no foreign key on artists, and artist can have many songs.

### More Practice Problems

1. Weather forecasts

* Separate the below table into two tables, cities and forecasts.  Write out the columns for each, and describe the relationships.

* Write out some sample data in a spreadsheet.

<img src="./weather-forecasts.png" width="80%">

* Then write out the query to select all of the weather forecasts for new york city from the new tables.

2. Toys and Kids

Now break out the following data into two tables.

<img src="./kids-toys.png" width="60%">

Then write a sql query to find all of the toys of sally.